* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #4c4d5f;
}

html {
    font-size: 16px;

}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    min-width: 450px;
}

body {
    margin-top: 55px;
}

.container {
    width: 65%;
    margin: 200px 0;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    margin-top: 20px;
}

.logo {
    font-size: 3rem;
    font-weight: 900;
    color: #31511E;


}

.links a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #1f2020;
    margin-left: 30px;
    font-weight: 500;
}

.log {
    border: 2px solid #31511E;
    padding: 8px 20px;
    color: #31511E;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.3s;
}

.log:hover {
    background-color: #31511E;
    color: #fff;
    transform: scale(1.1);

}

.start {
    border: 2px solid #31511E;

    padding: 8px 20px;
    background-color: #31511E;
    color: #fff;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.start:hover {
    background-color: #fff;
    color: #31511E;
    transform: scale(1.1);
}

.odeme-baslik {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.pricing {
    font-size: 1.7rem;
    font-weight: 500;
}

.rightplan {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    align-items: center;
}

.rightplan span {
    font-size: 1rem;
}

.rightplan label {
    width: 60px;
    height: 30px;
    border-radius: 60px;
    background-color: #31511E;
    position: relative;
    margin: 0 20px;
    cursor: pointer;
}

#tik {
    display: none;
}

#tik:checked+.circle {
    left: 34px;
}

.circle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: 0.22s left;
}

.pay-choose {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.pay-1 {
    width: 48%;
    box-sizing: border-box;
    padding: 50px 60px;
    border: 1px solid #4c4d5f;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 30px -15px #4c4d5f;

}

.pay-1 h4 {
    font-size: 1.7rem;
    margin: 0 0 20px 0;
}

.number-dollar {
    font-size: 4.5rem;
    font-weight: 700;
}

.dollar {
    font-size: 2rem;
    font-weight: 400;
}

.pay-1 hr {
    border: 1.5px solid #31511E;
    border-radius: 2px;
    margin: 40px 0;
}

.pay-1 ul li {
    font-size: 1.2rem;
    margin: 25px 0 0 0;
    font-weight: 400;
    list-style: none;
}

.pay-1 ul li::before {
    content: '✔  ';
    color: #31511E;
}

.pay-btn {
    width: 100%;
    height: 70px;
    font-size: 1.2rem;
    margin: 50px 0 0 0;
}

.new-btn {
    background-color: #31511E;
    color: #fff;
    padding: 2px 5px;
    font-weight: 700;
}

.pay-options {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    /* background-color: #f1f1f2; */

    padding: 10px 20px;
    border-radius: 12px;
}

.option-baslik {
    text-align: center;
    margin-top: 120px;
    font-weight: 400;
    font-size: 2.5rem;
}

.option-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 40px 40px;
    margin: 5px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 2px #f1f1f2;
}

.box-left h4 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.box-left p {
    font-size: 1rem;
}

.box-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box-right p:first-child {
    font-size: 3rem;
    font-weight: 600;
}

.business {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6FCDF;
    width: 100%;
    padding: 100px 80px;
    border-radius: 8px;
    margin: 100px 0;
}

.business h3 {
    font-size: 2.5rem;
    font-weight: 400;
}

.business h3 span {
    color: #31511E;
}

.business button {
    width: 15rem;
    margin-top: 0;
}

.faq h4 {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
    margin-top: 50px;

}

.faq ul {
    margin: 80px 0;
    padding: 0 150px;
}

.faq ul li {
    position: relative;
    list-style: none;
    margin: 20px 0;
    font-size: 1.7rem;
    font-weight: 400;
}

.faq ul li img {
    cursor: pointer;
}

.down-arrow {
    position: absolute;
    width: 20px;
    right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.footer h4 {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 50px 0;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin-top: 15px;
    cursor: pointer;
}

.ul2 {
    margin-top: 40px;
    text-align: center;
}

.ul2 li {
    width: max-content;
    padding: 0 10px;
}

.bottm {
    background-color: #fff;
    margin-top: 10px;
    color: #fff;
    /* hahahhaha */
}


/* MEDIAAAA */
@media (max-width:1480px) {
    html {
        font-size: 12px;
    }
}

@media (max-width:967px) {
    .pay-choose {
        flex-direction: column;
    }

    .pay-1 {
        width: 100%;
    }

    .business {
        flex-direction: column;
    }

    .business button {
        margin-top: 40px;
    }

    .faq ul {
        padding: 0 0;
    }

}

@media (max-width:667px) {
    .container {
        width: 95%;
    }

    .giris {
        display: flex;
        flex-direction: column;
    }

    .giris button {
        padding: 10px 50px;
        margin-bottom: 10px;
    }

    .links {
        display: flex;
        flex-direction: column;
    }

    nav {
        align-items: flex-start;
    }



}